* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg,#121212, #121212);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
    overflow-x: hidden !important;
}

/* Шапка */
header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

.back-button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    color: white;
    transition: background 0.3s ease;
}

.back-button:hover {
    background: #d48421;
}

.title {
    font-size: 40px;
    margin-left: 20px;
}

/* Контейнер с roadmap */
.roadmap-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    position: relative;
}

.step-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 30px 0;
}

.step-container:nth-child(even) {
    flex-direction: row-reverse;
}

.step {
    position: relative;
    background: #d48421;
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    margin: 0 20px;
    cursor: pointer;
    font-size: 15px;
}

.step:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.4);
}

/* Описание слева от кружков */
.step-description {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    width: 45%;
    text-align: left;
}

/* Кнопка отправки */
.submit-button {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    margin-left: auto;
}

.submit-button:hover {
    background: #d48421;
}
