<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/StylesCSS/StylesPersonalOffice/SlylesWindownRegAndAuthoriza.css">
</head>
<body>
    <button class="back-button" onclick="window.location.href='/PageHtml/index.html'">&#8592;</button>
    <div class="container">
        <div class="form-container">
            <h2>Авторизация</h2>
            <form action="#" method="post">
                <input type="text" id="login-or-email" name="login-or-email" placeholder="Логин или Почта" required>
                <input type="password" id="login-password" name="password" placeholder="Пароль" required>
                <button type="submit">Войти</button>
            </form>
            <p>Нет аккаунта? <a href="Registration.html">Зарегистрироваться</a></p>
        </div>
    </div>
</body>
</html>
