<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/StylesCSS/StylesPersonalOffice/SlylesWindownRegAndAuthoriza.css">
</head>
<body>
    <button class="back-button" onclick="window.location.href='/PageHtml/index.html'">&#8592;</button>
    <div class="container">
        <div class="form-container">
            <h2>Регистрация</h2>
            <form action="#" method="post">
                <input type="text" id="first-name" name="first-name" placeholder="Имя" required>
                <input type="text" id="last-name" name="last-name" placeholder="Фамилия" required>
                <input type="text" id="username" name="username" placeholder="Логин" required>
                <input type="email" id="email" name="email" placeholder="Почта Gmail" required>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <p>Уже есть аккаунт? <a href="Authorization.html">Войти</a></p>
        </div>
    </div>
</body>
</html>
