<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miracle Jobs</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>

    <header>
        <h1>Miracle Jobs</h1>
        <nav>
            <a href="index.html">Главная</a>
            <a href="#contacts">Контакты</a>
        </nav>
    </header>

    <main>
        <h2 class="title">Найди свою профессию в IT</h2>

        <section class="professions">
            <div class="profession">
                <img src="frontend.png" alt="Frontend Developer">
                <div class="info">
                    <h3>Frontend-разработчик</h3>
                    <p>Создаёт внешний интерфейс сайтов и веб-приложений.</p>
                </div>
                <a href='@Url.Action("PageFrontEndMap", "Home")' class="btn">Путь к профессии</a>
            </div>

            <div class="profession">
                <img src="backend.png" alt="Backend Developer">
                <div class="info">
                    <h3>Backend-разработчик</h3>
                    <p>Отвечает за серверную часть приложения.</p>
                </div>
                <a href="backend.html" class="btn">Путь к профессии</a>
            </div>

            <div class="profession">
                <img src="hr.png" alt="HR Manager">
                <div class="info">
                    <h3>HR-менеджер</h3>
                    <p>Помогает находить и адаптировать сотрудников.</p>
                </div>
                <a href="hr.html" class="btn">Путь к профессии</a>
            </div>

            <div class="profession">
                <img src="uxui.png" alt="UX/UI Designer">
                <div class="info">
                    <h3>UX/UI Дизайнер</h3>
                    <p>Создаёт удобные и красивые интерфейсы.</p>
                </div>
                <a href="uxui.html" class="btn">Путь к профессии</a>
            </div>
        </section>
    </main>

    <footer id="contacts">
        <p>Разработано командой Miracle Jobs</p>
        <p>Контакты: email@example.com</p>
    </footer>

</body>

</html>
