<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <!-- Кнопка для перехода на страницу Privacy -->
    <button onclick="window.location.href='@Url.Action("PageHRMap", "Home")'">Перейти на Privacy</button>
</body>
</html>
