<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR-менеджер</title>
    <link rel="stylesheet" href="~/css/profession3.css">
    <link rel="stylesheet" href="~/css/СSS.css">
</head>

<body>

    <header>
        <a href='@Url.Action("index", "Home")' button class="back-button">Назад </a>
        <h1 class="title">Шлях HR-менеджера</h1>
        <button id="buttonSumbit" class="submit-button">Надіслати заявку на роботу</button>
    </header>

    <div class="roadmap-container">

        <div id="divContent1" class="step-container" onclick="toggleSidebar(this)">
            <div class="step-description">Вивчення теорії</div>
            <div class="step" onclick="toggleSelect(this)">Менеджмент, психологія, HR-курси</div>
        </div>

        <div id="divContent2" class="step-container" onclick="toggleSidebar(this)">
            <div class="step-description">LinkedIn, Work.ua, Djinni, ATS-системи (Workable, Greenhouse)</div>
            <div class="step" onclick="toggleSelect(this)">
                Освоєння
                <br>
                HR-інструментів
            </div>

        </div>

        <div id="divContent3" class="step-container" onclick="toggleSidebar(this)">
            <div class="step-description">
                Проведення співбесід
                <br>
                Робота з конфліктами
            </div>
            <div class="step" onclick="toggleSelect(this)">Розвиток комунікаційних навичок</div>


        </div>

        <div id="divContent4" class="step-container" onclick="toggleSidebar(this)">

            <div class="step-description">Оформлення документів</div>
            <div class="step" onclick="toggleSelect(this)">Знання трудового законодавства</div>
        </div>

        <div id="divContent5" class="step-container" onclick="toggleSidebar(this)">
            <div class="step-description">Стажування у HR-відділі</div>
            <div class="step" onclick="toggleSelect(this)">Практика та працевлаштуванняо</div>
        </div>
    </div>

    <div class="sidebar">
        <h2 class="sidebar-title">Заголовок</h2>
        <ul>
            <li class="sidebar-item">
                <h3 id="heading1">Название 1</h3>
                <p id="Description1"> Описание для первого пункта. Это краткая информация о теме.</p>
                <a id="link1" href="https://source1.com" target="_blank">Источник 1</a>
            </li>
            <li class="sidebar-item">
                <h3 id="heading2">Название 2</h3>
                <p id="Description2">Описание для второго пункта. Краткая информация о втором пункте.</p>
                <a id="link2" href="https://source2.com" target="_blank">Источник 2</a>
            </li>
            <li class="sidebar-item">
                <h3 id="heading3">Название 3</h3>
                <p id="Description3">Описание для третьего пункта. Описание контекста этого пункта.</p>
                <a id="link3" href="https://source3.com" target="_blank">Источник 3</a>
            </li>
            <li class="sidebar-item">
                <h3 id="heading4">Название 4</h3>
                <p id="Description4">Описание для четвертого пункта. Это описание для последнего пункта.</p>
                <a id="link4" href="https://source4.com" target="_blank">Источник 4</a>
            </li>
        </ul>
        <button id="buttonBelow" class="toggle-btn">Вивчине</button>
    </div>

    <script>
        let greenCount = 0;
        let lastOpenedButton = null;

        function toggleSidebar(element) {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('open');
            tect1(element);

        }

        function toggleSelect(element) {
            element.classList.toggle("selected");
            lastOpenedButton = element;
        }

        window.onload = function () {
            const buttonBelow = document.getElementById("buttonBelow");
            const submitButton = document.getElementById("buttonSumbit");
            buttonBelow.addEventListener("click", buttonBelowLogic);
            submitButton.addEventListener("click", submitButtonLogic);
        }

        function buttonBelowLogic() {
            if (lastOpenedButton) {
                const activeStep = lastOpenedButton;
                if (activeStep.style.backgroundColor === "#778D45") {
                    activeStep.style.backgroundColor = "";
                    greenCount--;
                } else {
                    activeStep.style.backgroundColor = "#778D45";
                    greenCount++;
                }
            }
        }

        function submitButtonLogic() {
            if (greenCount >= 3) {
                alert("Ми з вами зв'яжемось пізніше");
            } else {
                alert("Вивчіть хоча б 3 теми");
            }
        }
    </script>
    <script src="~/js/InfoPanelUpdatesHR.js"></script>
</body>
</html>
