@using WebProjectHackathon.BusinessLogic.Models
@model List<TitleModelCircle>
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend-розробника</title>
    <link rel="stylesheet" href="~/css/profession.css">
    <link rel="stylesheet" href="~/css/СSS.css">
</head>

<body>
    <header>
        <a href='@Url.Action("index", "Home")' class="back-button">Назад</a>
        <h1 class="title">Шлях Frontend-розробника</h1>
        <button id="buttonSumbit" class="submit-button">Надіслати заявку на роботу</button>
    </header>

    <div class="roadmap-container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div id="divContent@(i + 1)" class="step-container" onclick="toggleSidebar(this)">
                <div class="step-description">@Model[i].Description</div>
                <div class="step" onclick="toggleSelect(this)">@Model[i].Title</div>
            </div>
        }
    </div>

    <div class="sidebar">
        <h2 class="sidebar-title">Заголовок</h2>
        <ul>
            @for (int i = 0; i < 4; i++)
            {
                <li class="sidebar-item">
                    <h3 id="heading@(i + 1)"></h3>
                    <p id="Description@(i + 1)"></p>
                    <a id="link@(i + 1)" href="#" target="_blank">Джерело</a>
                </li>
            }
        </ul>
        <button style="margin-bottom: 730px;" id="buttonBelow" class="toggle-btn">Вивчине</button>
    </div>

    <script>
        const circlePanels = [
            @for (int i = 0; i < Model.Count; i++)
            {
                    <text>{
                        panels: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model[i].Panels.Select(p => new { p.Title, Content = p.Content, p.ImageUrl })))
                    }@((i < Model.Count - 1) ? "," : "")
                    </text>
            }
        ];
    </script>

    <script src="~/js/LogicJsFile.js" asp-append-version="true"></script>
</body>
</html>
