<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend- розробника</title>
    <link rel="stylesheet" href="~/css/profession.css">

</head>

<body>
    <header>
        <a href="index.html" button class="back-button">Назад </a></button>
        <h1 class="title">Шлях Frontend- розробника</h1>
        <button class="submit-button">Відправити заявку на консультацію</button>
    </header>

    <div class="roadmap-container">

        <div class="step-container">
            <div class="step-description">Основи HTML, CSS, JavaScript. Розуміння структури веб-сторінок.</div>


            <div class="step" onclick="toggleSelect(this)">
                Вивчити основи
                <br> веб-розробки
            </div>
        </div>

        <div class="step-container">
            <div class="step-description">React, Vue або Angular. Компонентний підхід, SPA, state management.</div>
            <div class="step" onclick="toggleSelect(this)">Освоїти сучасні фреймворки та бібліотеки</div>

        </div>

        <div class="step-container">
            <div class="step-description">Chrome DevTools, Postman, Git, Webpack. Налагодження та оптимізація.</div>
            <div class="step" onclick="toggleSelect(this)">Вивчити інструменти розробника</div>
        </div>

        <div class="step-container">
            <div class="step-description">REST API, GraphQL. Запити до серверів, обробка JSON.</div>
            <div class="step" onclick="toggleSelect(this)">Робота з API</div>

        </div>

        <div class="step-container">
            <div class="step-description">Верстка проектів, хостинг, підключення реальних API.</div>
            <div class="step" onclick="toggleSelect(this)">Створити портфоліо</div>
        </div>

        <div class="step-container">
            <div class="step-description">Фріланс, стажування, open-source проекти. Робота в команді.</div>
            <div class="step" onclick="toggleSelect(this)">Отримати перший комерційний досвід</div>

        </div>

    </div>

    <script>
        function toggleSelect(element) {
            element.classList.toggle("selected");
        }
    </script>

</body>

</html>